/*
#f9a91a --> laboratoria
#f5f5f0 --> color fondo
#e0e0d1 --> color de hover
#333 --> color de active
font-family --> sans-serif
*/

body
{
	font-family: sans-serif;/*toda la pag web tendra esta tipografia*/
}

nav
{
	/*outline: 1px solid green ayuda visual*/
	width: 200px;
}

ul
{
	/*outline: 1px; solid yellow; ayuda visual*/
	list-style: none;/* quita el estilo de lista*/
	margin: 0px; /*quita espacio*/
	padding: 0px; /*quita espacio*/
	line-height: 32px; /*hace espacio entre lineas del menu*/
}

li
{
	/*outline: 1px; solid red; ayuda visual*/
	background:#f5f5f0;
}

/*estados de los enlaces; link visited hover active*/
a
{
	/*outline: 1px solid green ayuda visual*/
	display: block; /*se transforma en un bloque, */
	text-decoration: none; /*saca */
	color: black;
	padding-left: 12px; /*realiza una pequena sangria*/
}

a:hover /* cuando el cursos este sobre la etiqueta a*/
{
	background:#e0e0d1;
}

/*selector desendiente (seudo-clase)*/
ul li:first-child  /*ubicar todas las etiquetas li dentro de la etiqueta ul y seleccionar el primer elemento*/
{
	background:#f9a91a; /*pintara solo al primer elemento*/
}

ul li:first-child a /*la etiqueta 'a' que se encuentra dentro de la etiqueta li que es primer hijo de la etiqueta ul*/
{
	color:#ffff;
}
 
ul li:first-child a:hover /* */
{
	color:black;
}

a:active /*cambia de color al momento de hacer click*/
{
	background:#333;
	color:#ffff;
}

ul li:first-child a:active /* */
{
	color:#ffff;
}



